.error{
    border-color: #FA0202 !important;
    color: #FA0202 !important;
}
#drpsifoMoreCountry, #drpsifoMainCountry,#drpsifoCategory{
	width: 225px;
}
/*.adFrmtcls{
position: absolute;
margin-left: 215px;
margin-top: 20px;
}
*/
