@font-face {
    font-family: 'open_sansbold';
    src: url('../fonts/opensans-bold-webfont.eot');
    src: url('../fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-bold-webfont.woff') format('woff'),
         url('../fonts/opensans-bold-webfont.ttf') format('truetype'),
         url('../fonts/opensans-bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sanssemibold';
    src: url('../fonts/opensans-semibold-webfont.eot');
    src: url('../fonts/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-semibold-webfont.woff') format('woff'),
         url('../fonts/opensans-semibold-webfont.ttf') format('truetype'),
         url('../fonts/opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}
.row {
    margin-left: 0px!important;
    margin-right: 0px!important;
}
a{text-decoration: underline;}
a[href^="mailto:"]{text-decoration: none;}
footer a{text-decoration: none;}
#loginscr a{text-decoration: none;}
#loginscr a:hover{color: #bbb}
.alert a{text-decoration: none;}
#nav a{text-decoration: none;}
#myTab a{text-decoration: none;}
.dropdown-menu a{text-decoration: none;}
.addfav a{text-decoration: none;}
a#popovr {text-decoration: none;}
.caltxt a{text-decoration: none;}
.alert-warning a{text-decoration: underline;}
.mnuutmslft a{text-decoration: none;}
.headtit1 a{text-decoration: none;cursor: pointer;}
.accordion a{text-decoration: none;}
.row .banr{background:#0ba5e5;height:195px}
.imgcontactbx h6{font-size: 11px;margin:0;}
.imgcontactbx .designat{margin-bottom: 10px}
.nam{font-size: 12px;color:#656565;}
.imgcontactbx p{margin:0;}
.nospace{padding: 0}
.alert-info{ padding: 3px 3px 3px 6px!important}
#contabrderbtm{margin-bottom: 0}
.testimonial{background:#f4f4f4;padding:32px 51px;width:304px;margin:10px;margin-top: 0}
.ftmtsprdctbx{border:1px solid #dbdbdb;background:#f9f9f9;padding:10px}
.amargn{text-align:center;font-size:11px;margin-top:5px}
.imgcontactbx{border-left:0;border-right:0;border-radius:0;box-shadow:0 0 0;border-color: #E2E2E2;border-top:0px #fff;margin-bottom: 0;padding-left: 0;border-bottom: 1px solid #E2E2E2}
.icnico{font-size:13px;color:#18A9C3;margin-left:4px}
.border-tp{border-top: 1px solid #e2e2e2;}
.h5bldclr,.titl{color: #656565; font-family: "open_sansbold";}
.titl{text-transform: uppercase;}
.box_line{border-top:1px solid #a5a5a5;padding: 18px 0 32px;}
.box_line p{border-bottom: 1px solid #f1f1f1;padding-bottom: 7px;margin-bottom: 7px;font-family: 'open_sanssemibold';font-size: 13px}
.box_line .rit{font-size: 11px;border:0;}
.nounderline p a{text-decoration: none;}
/*.btncolor{background: #18a9c3}*/
.h1mar{margin-bottom: 2px;font-family: 'open_sansbold';}
.col8top{margin-top: 43px;}
.lipad{padding-left: 15px}
.custmserch{width:216px;   position: relative; top: -1px;left: 13px}
#nav .navbar-form {margin-bottom: 0;margin-top: 0;}
.borderradius{border-radius:20px; background: url("../images/searchicon.png") no-repeat scroll 94% center #FFFFFF;padding-right: 30px}
#filters #filbox p{color: #fff;float:left;font-size: 10px;background:#919191;border-radius: 20px;   height: 20px;padding: 2px 13px; margin-right: 7px;padding-right:10px}
#filters #filbox p:hover{background: #18a9c3;color: #cecece;cursor: pointer;}
.ovrvw .panel{padding: 18px 0!important}
#filters #filbox p:hover i{color: #cecece}
#filters{display: none;}
#filbox .col-lg-2{width: auto;}
#clrall{cursor: pointer; color: #18a9c3}
#clrall:hover{color:#4f4f4f}
.selctboxstyle{margin-left: 15px}
.selctboxstyle .covr{ height: 36px;border: 1px solid #d3d3d3; text-align: center; border-radius: 3px 3px 3px 3px; width: 140px;background:url(../images/sercrepselect.gif);}
.selctboxstyle .txt{float: left; text-align: left; width: 106px; padding-top: 8px; color: #737373;font-size: 12px;position: relative;;left: 8px;font-family: 'open_sansbold';}
.selctboxstyle .arow{float: right; background:url(../images/blackrep.png); border-radius: 0px 3px 3px 0px; width: 32px; padding: 7px; height: 36px;position: absolute;right: 0;top: 0}
.selctboxstyle .caret{border-top:4px solid #fff}
.signremv{font-size: 16px!important;}
#clrall:hover .signremv{color:#4f4f4f;text-decoration: none}
#clrall:hover{text-decoration: underline;}
#filbox{color: #939393;font-size: 10px;   padding-top: 12px;min-height: 45px;}
#filbox i{cursor: pointer;font-size: 12px}
#selctbxs{ background: none repeat scroll 0 0 #FAFAFA;border-bottom: 1px solid #E1E1E1; height: 90px;  padding-top: 22px;border-top:1px solid #e1e1e1}
#nav .btn-primary {background-color: #656565;border-color: rgba(0, 0, 0, 0);color: #FFFFFF;}
#nav .btn-primary:hover {background-color: #cecece;}
#nav .btn-primary:active {background-color: #74cbdb;}
footer{font-size: 10px;margin-top:40px;font-family: 'open_sanssemibold'}
footer p,.coptxt{float: left;border-right:1px solid #e1e1e1;padding:0 6px;}
footer p a,footer p a:hover{color: #2b2a2b}
footer a:hover{text-decoration: underline;}
.coptxt{color: #d0d0d0;padding-left: 0}
footer .col-lg-8  .col-lg-4{padding: 0}
footer .ritlnk a,footer .ritlnk a:hover{color: #18a9c3}
footer .ritlnk a:hover{color: #4f4f4f}
footer .boredrno{border: none; padding-right: 0;}
.em_div{width:255px;margin: 0 13px 0 -1px;}  
.icnlck{margin-right:4px;font-size:15px;position:relative;top:1px}
.icnangldwn{margin-right:4px}
.icnhrt{font-size:13px;margin-left:4px}
.open .arow{background:url("../images/sercrepselect.gif") repeat ;border: 1px solid #ccc;   height: 36px;}
.open .caret{border-top: 4px solid #ccc;}
.icninfo{cursor:pointer;border-radius: 20px 20px 20px 20px; width: 15px; height: 15px; text-align: center; color: rgb(255, 255, 255); font-size: 7px; background: none repeat scroll 0px 0px rgb(101, 101, 101); float: right; margin-left: 10px; margin-top: 9px;  padding-top: 2px;}
.icnnew{background: url(../images/newico_03.png)no-repeat;width: 28px;height: 17px;border-radius: 0;   position: relative; top: -6px;  left: -6px;}
.icnnew:hover{background: url(../images/newico_06.png)no-repeat !important;width: 28px;height: 17px}
@media screen and (-webkit-min-device-pixel-ratio:0) { .icninfo{   padding-top: 3px;  } .icnnew{top: -30px;} .selctboxstyle{margin-left: 14px}}
.emptybox1{height: 320px;margin-top:20px;background:#0ba5e5;}
.avgagetxt{margin-top:15px;padding-top:20px;border-top:1px solid #eee;text-align:center;color: #8F8F8F;}
.avgagecir{border-radius:20px;background:#656565;color:#fff;padding:5px 8px;width:31px;}
.gndrtxt{font-size:30px;color:#00B3FE}
.gntdrtxt2{font-size:30px;color:#656565}
.gndrbx{float:left;text-align:center;border-left:#ccc dotted 1px;;width:50%}
.sitetxt1{color: #656565;position: relative;top: 8px;height: 32px;}
.padno{padding: 0}
.padleftno{padding-left: 0}
.tblpad{padding-left: 64% }
.fntsmll{font-size: 10px}
.margnrightbtn{margin-right: 10px}
.padrighttno{padding-right: 0}
.margin_tp{/*margin-top: 30px*/margin-top: 17px}
.navvinputheight{height: 30px}
.navtitl{margin-bottom: 3px;margin-top: 0;}
.icninfo:hover{background: transparent;}
.icninfo:hover i{color: #565756;text-decoration:none;}
#nav .dropdown-menu{left: -80px;top: 30px}
#filtertpbx{display: none;}
.fontsizerm{font-size: 12px}
.marginno{margin: 0}
.thumbcase{width: 170px}
.covr .txt:hover{color: #8e8e8e}
.open .txt{color: #bfbfbf}
.grnpop{background: #16abc1}
.grnpop:hover{background: transparent;}
.addscrnshtxtxt{text-align:center;margin-top:40px}
.plstxt{font-family: 'open_sanssemibold'; font-size: 14px; position: relative;}
.dropdown-menu#agebox{width:370px;left: -208px; padding: 0;}
.dropdown-menu#agebox .ageinner{padding: 20px 25px 20px;background:#fafafa;}
.dropdown-menu#agebox .filttit{text-align: center; background: #f3f3f3;border-bottom:1px solid #dbdbdb;padding: 10px;color:#737373;}
.dropdown-menu#agebox .amount{color: #4f4f4f;font-size: 13px;float: left}
.dropdown-menu#agebox #slider-range{float: left;width: 80%;background: #DCDCDC;height:4px;top: 7px;border: 0; border-top: 1px solid #c7c7c7}
.btn-xs{padding: 4px 11px;font-size:11px}
.agebtns{text-align: center;margin-top: 25px;}
.canclbtnfil{font-size:10px;font-style:italic;margin-right:10px}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {background: none repeat scroll 0 0 #5E5F5E!important;border: 4px solid #FFFFFF!important;border-radius: 20px 20px 20px 20px; box-shadow: 1px 2px 2px #BBBBBB;color: #555555!important;font-weight: normal;}
.ui-slider-horizontal .ui-slider-handle{top: -9px!important;}
.ui-slider .ui-slider-range {background: none repeat scroll 0 0 #17A2BB;}
#stepids .linecircl{text-align: center;border:2px solid #d5e2e8; height: 42px;width: 43px;border-radius: 40px;color: #a8bcc5;padding-top: 9px;padding-left: 14px}
#stepids .linecircl.active{background: #18a9c3;color:#fff;border: none;padding-top: 11px}
#stepids .linecircl.active2{background: #fff;color:#18a9c3;border: 2px solid #18a9c3;padding-top: 10px; padding-left: 13px;}
#stepids{min-height: 132px;padding-top: 55px}
#stepids .linebrd{border-bottom: 2px solid #d5e2e8; position: relative;top: 21px;width: 10%}
#stepids .linebrd.active{border-bottom-color:#18a9c3 }
#stepids .stptxt{padding: 0;text-align:center;color: #a8bcc5;font-size:11px; word-wrap: break-word; width: 102px;margin-top: 10px;}
#stepids .stptxt.active{color:#18a9c3 }
#stepids.col-lg-12{padding: 40px 0 0}
.h825{height: 27px!important;padding: 2px 8px!important;font-size: 12px;}
#stepids .txtspc{padding: 0;width: 3px;}
.colr{color: #656565}
#stepids .marg{margin-left: 31px}
.martp10{margin-top: 10px}
.formmar{margin-top:20px}
.formmar2{margin-top:35px}
.styled-select{ width: 100%;height: 34px;overflow: hidden;background: url('../images/dropicn.gif') no-repeat right ; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;border-radius: 3px; border: 1px solid #DBDBDB;}
.styled-select select {background: transparent;padding: 6px;line-height: 1;border: 0;border-radius: 0;height: 34px;-webkit-appearance: none;width:120%;font-family: 'open_sansbold'; }
.checkbox h6{font-size: 11px}
.semibold{font-family: 'open_sanssemibold'; }
.rightsidsm{ margin-top: 0px;}
.orangebtn{background: url(../images/or-btn-rep.gif);text-transform:uppercase;}
.orangebtn:hover{background: url(../images/orhov.png);}
.panel-heading .icninfo{margin-top: 3px;background: #fff; color: #555}
.ashbtn{font-family: 'open_sanssemibold';height: 28px;border-radius: 0;border:1px solid #e4e4e4;background: url(../images/ashbtn.gif);color: #737373;font-size:12px; height: 29px;padding-top: 0px;}
.ashbtn span{position: relative;top: 2px; font-size: 18px !important}
.ashbtn:hover, .ashbtn:focus{color: #8e8e8e;}
.slectd p{ background: none repeat scroll 0 0 #919191;border-radius: 20px 20px 20px 20px;color: #FFFFFF;float: left;font-size: 10px;height: 18px;margin-right: 7px;padding: 2px 10px 2px 11px; text-align: center;}
.slectd p:hover{background: #18a9c3;color: #cecece;cursor: pointer;}
.sansbold{ font-family: 'open_sansbold';}
.sliderrange .ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br{height: 4px;top: 6px;background: #DCDCDC;border:0;border-top: 1px solid #bbb}
.sliderrange label{font-family: 'open_sansbold';font-size: 13px}
.thumbnilimg{border: 1px dashed #d6d6d6;min-height: 105px}
#adsit{position: relative;top: -68px}
.colorthumb{color: #656565;margin-top: 10px;}
.formts .fntsmll{font-size: 11px}
#adsit .nav-tabs > li{float: right;background: #eaeaea;margin-left: 5px;}
#adsit .nav > li > a{font-size: 11px;border-radius: 0!important;}
#adsit .nav-tabs > li.contsales{background: #18a9c3!important;}
#adsit .nav-tabs > li.contsales a{color: #fff}
#adsit .nav-tabs > li.contsales.active > a, .nav-tabs > li.contsales.active > a:hover, .nav-tabs > li.contsales.active > a:focus{background: #fff!important;color: #000}
#adsit .nav-tabs > li.contsales a:hover{color: #fff;background: #74cbdb!important}
#adsit .nav > li.contsales > a:hover,.nav > li.contsales > a:focus {background:#74cbdb!important;color: #fff}
#adsit .nav > li > a:hover, .nav > li > a:focus{color: #74cbdb;/*background:#fff;*/}
.addfav{border-left:1px solid #eee;height: 52px;padding: 17px;font-size: 11px;border-right:1px solid #eee;}
.addfav a:hover{text-decoration: none; color: #4f4f4f}
.boxspac{border-bottom: 1px solid #f1f1f1;padding: 4px 0}
.relate{position: relative;}
.btn_black,.btn_black:hover{background: #4f4f4f;color: #fff}
.perctxt{text-align:right;color:#727272;font-size:12px;margin-top: 5px;bottom: 0;float: left;position: absolute; right: 0;top: 2px;}
ul.boxli {font-size: 12px;margin-left: 16px;padding: 0;font-family: 'open_sanssemibold'; color: #8F8F8F}
ul.boxli li{margin-bottom: 10px;color: #f7aa58}
ul.boxli li span{ color: #8F8F8F;}
#backend h1.bl{color: #18a9c3;word-wrap: break-word;}
#backend .nrm{font-size: 14px;text-transform: uppercase;}
#backend .titl2{text-transform: none;font-size: 19px;color: #656565}
h5.titl{margin-bottom: 4px;}
#backend .panel {border-top: 1px solid #e2e2e2;padding: 15px 10px;color: #737373; font-size: 12px;margin-bottom: 0} 
#backend .panel .adtxt{font-size: 11px}
#backend .panel.active{background: #fef5f3}
#lftmnu .selctboxstyle .covr{width: 256px!important;}
#lftmnu .dropdown-menu{width:100%}
#lftmnu {position: relative; top: -37px;}
ul.mnuutmslft{padding: 0}
.comnmedsiz{font-size: 12px;color: #727272}
ul.mnuutmslft li{padding: 11px 8px;font-size:12px; border-bottom: 1px solid #e2e2e2;list-style-type: none;text-transform:uppercase;min-height: 40px;}
ul.mnuutmslft li a{color: #4f4f4f;padding: 0}
ul.mnuutmslft li.active{background: url(../images/blckrepp.gif) repeat-x  ;color: #fff;padding-left:8px;border: 0  ;margin-top: -1px;border-radius: 0 4px 4px 0;}
ul.mnuutmslft li.active a{color: #fff}
.arowcs{ background: url("../images/aroow-end.jpg") repeat scroll 0 0 transparent;float: left;height: 41px;width: 16px;margin-left: -24px;margin-top: -12px;}
ul.mnuutmslft li a:hover{color: #18a9c3;text-decoration: none;}
#lftmnu .btn1{border: 1px solid #e4e4e4!important;color: #737373;border-radius: 2px!important;background:url(../images/whibutrep.gif)!important;padding: 8px 18px;}
#lftmnu .btn1:hover{color:#8e8e8e}
.lastupdttxt{font-size: 12px ; font-style: italic;text-align: right;}
.thumbvord{border:1px solid #D6D6D6;border-bottom: 0}
.badge1{margin-right:3px;float:left}
.borderno{border: 0}
.marginbadgmed{margin-top: 59px;}
.marginbadgsmall{margin-top: 109px;}
.badgecov{margin-right:4px;float:left}
.tagdiv{ background: none repeat scroll 0 0 #919191;border-radius: 20px 20px 20px 20px;color: #FFFFFF;font-size: 10px;height: 19px;margin-right: 0px;padding:3px 10px;text-align: center;display: inline;}
.tagdiv.inactive{background: #e2e2e2;color: #fff}
.adminuser .table thead > tr > th, .table tbody > tr > th, .table tfoot > tr > th, .table thead > tr > td, .table tbody > tr > td, .table tfoot > tr > td{padding: 18px 5px!important; }
#ovrwritbacken .panel {background-color: #FFFFFF;color: #8F8F8F;font-size: 13px;margin-bottom: 20px;padding: 15px 0;border-top:0;}
.tdstyle{padding: 0px!important; height: 70px;}
.tdtitlbt{float:left;margin-left:10px;color:#18a9c3;margin-top:8px}
.reponsivetbl table {  width: 100%; border-collapse: collapse; font-family: 'open_sanssemibold';color: #8F8F8F;}
/* Zebra striping */.reponsivetbl tr:nth-of-type(odd) { }
.reponsivetbl th { background: #f4f4f4; color: #656565; font-weight: normal; height: 45px;font-family: 'open_sansbold';font-size: 12px}
.reponsivetbl td, th { padding:6px 6px 6px 20px; border: 1px solid #eee; text-align: left; }
.table-striped{border:1px solid #e4e4e4;}
.table-striped thead{background: #f4f4f4}
.table-striped tr td, .table-striped th{border:1px solid #e4e4e4;}
.table-striped thead > tr > th, .table tbody > tr > th, .table tfoot > tr > th, .table thead > tr > td, .table tbody > tr > td, .table tfoot > tr > td{padding: 12px 5px  12px 5px!important;}
.clntabl thead > tr > th, .clntabl.table tbody > tr > th, .clntabl.table tfoot > tr > th, .clntabl.table thead > tr > td, .clntabl.table tbody > tr > td, .clntabl.table tfoot > tr > td{padding: 12px !important;}
.appndfrmlft .formmar{margin-top: 12px}
.custmserch .form-control {box-shadow: inset 1px 2px 3px rgba(0,0,0,0.3)!important;border: 0px solid #DBDBDB!important;color: #8f8f8f;font-family: 'open_sanssemibold';font-size: 13px}
#agebox.dropdown-menu:after{border-bottom: 6px solid #F3F3F3;}
#sitlinks.dropdown-menu:after{right: 11px;}
#sitlinks.dropdown-menu:before{right: 10px;top: -7px;}
.navbar-nav > li > a .caret{color: #74CBDB!important}
.midbxclz{padding-left: 10px; padding-right: 10px;}
.catbox{height: 17px;border-radius: 3px;font-size: 10px;text-transform: uppercase;padding: 1px 10px 1px 10px;float: right;color: #fff;background: url(../images/repbrwn_03.gif);margin: 10px 3px}
.catbox:hover{background: url(../images/bronrephov.png);}
.catbox:active{background: #888;}
.catbox a{color: #fff;text-decoration: none;}
#case .rightsidsm{ top: 57px;}
.selbx100{width: 100%;margin-left: 0}
.selbx100 .covr{width: 100%;}
.selbx100 .dropdown-menu{min-width: 100%}
.selbx100 .dropdown-menu:before{right: 10px}
.selbx100 .dropdown-menu:after{right: 11px}
.selbx100 .txt{width: 100%}
.selbx100sml .covr{height: 27px}
.selbx100sml .arow{height: 27px;padding: 4px;width: 27px}
.selbx100sml .txt{padding-top: 4px;}
.selbx100sml .open .arow{height: 27px}
.caltxt {color:#656565;text-align:right;background: url(../images/icncalndr.gif) no-repeat right;font-size: 12px;  padding-right: 23px;font-family: 'open_sanssemibold';}
.caltxt a {color:#656565;}
.caltxt a:hover{color: #74cbdb;text-decoration: none;}
.caltxt:hover{color: #74cbdb;background: url(../images/calicohov.gif) no-repeat right;}
.comnam{background: #fafafa!important}
.comnam{background: #fcfcfc!important}
.reponsivetbl th:hover{background: #fcfcfc;color: #8e8e8e}
.reponsivetbl th{text-transform: uppercase;}
.tdstrp{background: #fafafc}
.reponsivetbl .thfilt{position: relative;top:2px;left: -5px;}
.headtit1{font-size: 14px;font-family: 'open_sansbold'}
.navbar-nav > li > a:focus .caret{border-top-color: #74CBDB}
.config .dropdown-menu {left: -48px!important;}
.blu.icninfo{color: #18a9c3!important}
.blu.icninfo:hover{color: #18a9c3!important}
#backend .slectd p{background: #18a9c3}
#dropnav li a{padding: 8px 0.85714em}
.trbord1{border:1px double #d4d4d4;border-bottom: 0}
.trbord2{border:1px double #d4d4d4;border-top: 0}
li.config  a {padding: 0.42857em 0 !important;}
#dropnav li a{padding:8px 0.85714em!important}
.abt_txt{margin-left: 8px}
#loginscr.container{ width: 375px;}
#loginscr .well{padding: 48px;background: #fff;border: 1px solid #c2c2c2;height: 305px}
#loginscr a{color: #4f4f4f}
#loginscr .lin{color:#989898;font-family: 'open_sanssemibold';}
#loginscr .erroemsg{position: absolute; top: 20px;color:#b54635;text-align:center;width:75%}
.erroemsg .icn{font-size:17px;position:relative;top: 3px;left:-2px}
.chkbxtbxmar{position: relative; top: 4px;}
#crdtcardchkbx .radio, .checkbox {display: block;margin-bottom: 0px;margin-top: 0px;}
.chkboxmar{position: relative;top: -2px;}
#faq .icnmar{margin-right:6px;}
#faq .accordion-group{border:0;border-bottom: 1px solid #e2e2e2;border-radius:0; font-family: 'open_sanssemibold';font-size: 13px;color: #8F8F8F;}
#faq .accordion-group:hover{background:#fafafb}
#faq .accordion-body{margin-left: 33px}
@media screen and (-webkit-min-device-pixel-ratio:0) {#faq .accordion-body{margin-left:30px}}
#faq .accordion-heading a:hover{text-decoration: none;}
#faq .accordion-heading a:focus{text-decoration: none;outline: none;}
#faq h5{border-bottom:1px solid #A5A5A5;padding-bottom:4px}
#faq .accordion-heading .accordion-toggle{padding: 8px 15px}
.favritmar{margin-left: 5px}
.signuptxtmar{margin-right: 14px;}
table.adminuser tr td{padding: 18px 5px !important}
a.linka{text-decoration: none;}
.ligbxcap{   background: none repeat scroll 0 0 #000000; color: #FFFFFF;  font-size: 11px;  height: 34px; position: relative; top: -34px;padding: 3px 0;opacity: 0.8;line-height: 1.3}


@media only screen and (max-width: 767px),
(min-device-width: 767px) and (max-device-width: 1024px)  {

table, thead, tbody, th, td, tr { display: block; }
/* Hide table headers (but not display: none;, for accessibility) */
.reponsivetbl thead tr { position: absolute;top: -9999px;left: -9999px;width: 200px;}
.reponsivetbl .hidetr{display: none;}
.reponsivetbl tr { border: 1px solid #eee; }
.reponsivetbl td { /* Behave  like a "row" */border: none;border-bottom: 1px solid #eee; position: relative;padding-left: 64%; }
.reponsivetbl td:before { /* Now like a table header */position: absolute;/* Top/left values mimic padding */top: 0px;left: 0px;width: 45%; padding-left: 10px; white-space: nowrap;color: #656565;background: #f4f4f4;border-right: 1px solid #EEEEEE;height: 75%;padding-top: 8px;}
  /*
  Label the data
  */
  /*.reponsivetbl td:nth-of-type(1):before { content: "Comany name"; }*/
  .reponsivetbl td:nth-of-type(2):before { content: "Unique";}
  .reponsivetbl td:nth-of-type(3):before { content: "Visits"; }
 .reponsivetbl  td:nth-of-type(4):before { content: "Page Views";     }
  .reponsivetbl td:nth-of-type(5):before { content: "P/V"; }
  .reponsivetbl td:nth-of-type(6):before { content: "U/V";}
  .reponsivetbl td:nth-of-type(7):before { content: "%";}
  .reponsivetbl td:nth-of-type(8):before { content: "icon";}
}


@media screen and (max-width:1200px) {
.custmserch{ top: -1px;}    
.block { min-height: 54px;}
}

@media screen and (max-width: 991px) {
.favritmar{margin-left: 0px}
.signuptxtmar{margin-right: 0;}
#agebox.dropdown-menu:after {border-bottom: 6px solid #F3F3F3!important;}
.tblpad{padding-left: 10px !important}
#lftmnu .btn-primary { text-align: center;width: 100%;}
#lftmnu .btn1 {background: url("../images/whibutrep.gif") repeat scroll 0 0 transparent !important;border: 1px solid #E4E4E4 !important;border-radius: 2px 2px 2px 2px !important;color: #737373;width: 100%;}
#lftmnu{position: static;}
.midbxclz{padding: 0}
.lu1{float: left;}
.lu3{float: right;}
.lu2{display: none;}
#stepids{height:382px;padding-top: 21px;}
#stepids .marg {margin: 0}
#stepids .stptxt {color: #A8BCC5; font-size: 11px;left: 61px;margin-bottom:46px;padding: 0;text-align: left;top: -339px;width: auto;margin-top: 0px;}
#stepids .linebrd {border-left: 2px solid #D5E2E8;height: 19px;left: 21px;position: relative; top: 0;border-bottom: 0;}
#stepids .linebrd.active {border-left-color: #0BA5E5;}
.sliderrange label{margin-top: 20px}
.styled-select{margin-bottom: 10px}
.rightsidsm{ margin-top: 60px;}
.padleftno{padding: 0}
.padrighttno{padding: 0}
.appn{/*margin-left: 7px*/}
.icninfo{display: none;}
.dropdown-menu#agebox #slider-range{width: 89%}
#agebox.dropdown-menu {left: 0;padding: 0; width: 0;}
.custmserch{width: 100%;}  
.em_div{ float: left;margin: 0 13px;width:106px;padding:0;position: relative; left: -11px;}  
#selctbxs .input-group {width: 99%;}
#selctbxs .covr{width: auto;}
#selctbxs .selctboxstyle {margin-bottom: 17px;margin-left: 10px; width: 100%;}
#selctbxs {height: auto;}
#selctbxs .dropdown-menu{min-width: 100%;position: relative;}
#selctbxs .dropdown-menu:before {
    border-bottom: 7px solid rgba(0, 0, 0, 0.2);
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    content: "";
    display: inline-block;
    position: absolute;
    right: 9px;
    top: -7px;
}
#selctbxs .dropdown-menu:after {
    border-bottom: 6px solid #FFFFFF;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    content: "";
    display: inline-block;
    position: absolute;
    right: 10px;
    top: -6px;
}
}

@media screen and (max-width: 767px) {
.abt_txt{margin-left: 0}
li.config  a {padding: 0.85714em 2.14286em!important;}
.config .dropdown-menu{left: 0!important;margin: 10px; top: 35px !important;}
.config .dropdown-menu:before{right:81%}
.config .dropdown-menu:after{right:82%}
#lftmnu .btn1{width: 95%}
ul.mnuutmslft li{min-height: 41px}
.reponsivetbl table {display: block;position: relative;width: 100%;}
.reponsivetbl table tr{display: inline-block;vertical-align: top;display: block;margin-top: 14px;}
.reponsivetbl table th{display: block;}
.reponsivetbl table td{display: block;min-height: 1.25em;}
.reponsivetbl table tbody{display: block;width: auto;position: relative;overflow-x: auto;white-space: nowrap;}
.badgecov{width: 100%}
.marginbadgmed{margin-top: 0px;}
.marginbadgsmall{margin-top: 0px;}
#nav .dropdown-menu{left: 10px}
.btnsdiv{padding-left: 15px}
.btn1{margin-left:12px}
ul.mnuutmslft li{border-radius: 0 }
#lftmnu .btn-primary {background-color: #18A9C3!important;border-color: rgba(0, 0, 0, 0)!important; color: #FFFFFF!important;}
#lftmnu {position: relative; top: 0px;padding: 0;padding-right: 15px;box-shadow: -1em 0 1.5em -0.75em rgba(0, 0, 0, 0.25) inset   }
#lftmnu .btn-primary:hover{background-color: #74CBDB!important;}
ul.mnuutmslft li a{padding: 0!important;}
#lftmnu .selctboxstyle .covr{width: 100%!important;}
#lftmnu .dropdown-menu{left: 0;top: 36px;}
 #lftmnu .selctboxstyle{margin-left: 0}
 #lftmnu .btn-group, #lftmnu .btn-group-vertical {display: block;}
.arowcs{ background: url("../images/aroow-end-mob.jpg") repeat scroll 0 0 transparent;float: left;height: 41px;left: 8px;position: relative;top:0px;width: 16px;float: right;}
ul.mnuutmslft li.active{padding-left: 12px; top: -1px;}
#lftmnu{background: #fff}
#lftmnu.rightsidsm{margin-top: 0}
.dropdown-menu#agebox #slider-range{width: 86%}
#filtertpbx{display: block;background:#18A9C4;text-align:right;}
#filtertpbx .navbar-nav{margin-top: 0}
#filtertpbx .navbar-nav > li > a{font-size: 13px;padding: 10px;}
#filtertpbx .navbar-nav > li > a:hover{text-decoration: underline;}
#nav .btn-primary{background: transparent; font-size: 12px;padding:0.85714em 2.14286em;text-align: left;}
#nav .icnlck{display: none;}
#nav .btn-primary:hover{background: transparent;color: #cecece}
.navvinputheight{height: 36px}
.borderradius{background: url("../images/searchicon.png") no-repeat scroll 97% center #F8F8F8;}
.custmserch{position: static;margin-left:50px;width: 89%; margin-top: -3px;left:0;   top: 0}  
#logomain img{display: none;}
#nav .navbar-nav > li > a{font-size: 12px}
#nav .pull-left{float: none}
#nav .pull-right{float: none}
#nav .block-title{text-align: center;}
#nav .em_div{display: none;}
#nav li:last-child {border-bottom: none;}
#nav li {border-top: 1px solid rgba(255, 255, 255, 0.1);}
#nav .navbar-nav {margin-bottom: 0;margin-top: 0;}
.icnhrt, .icnangldwn{display: none!important;}
footer{margin-top: 15px}
footer div{display: none;}
#selctbxs .input-group {width: 97%;}
#lftmnu .btn-primary{margin-left: 12px; text-align: center;width: 95%;}
}

@media screen and (max-width: 480px) {  
.col8top {margin-top: 0;}
#loginscr.container{width: 100%;padding: 0 10px}
#loginscr .well {background: transparent;border: 0px solid #C2C2C2;height: 305px;padding: 48px 0;box-shadow: none;}
#loginscr .erroemsg { width: 100%;}
.h1mar{font-size: 15px;text-transform: uppercase;color: #656565;margin-bottom: 4px}
.dropdown-menu#agebox #slider-range{width: 79%}
.custmserch{width: 82%;top:0;}   
#selctbxs .input-group {width: 95%;}
.btn-primary{float: none !important;margin-top: 10px; width: 100%;}
#nav .btn-primary{margin-top: 0px; }
.btn1{width: 95%}
#lftmnu .btn-primary{margin-left: 12px; text-align: center;width: 95%;}

@media screen and (max-width: 320px) {  
.dropdown-menu#agebox #slider-range{width: 76%}
}