/* tables */
table.tablesorter {
	 
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	 
}
table.tablesorter thead tr .header {
	background-image: url(../images/bg.gif);
	background-repeat: no-repeat; 
	cursor: pointer;
        background-position: right;
}
table.tablesorter tbody td {
	 
}
table.tablesorter tbody tr.odd td {
	 
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(../images/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(../images/desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
 
} 
.odd{} 
.even{background: #fafafc}
